#about {
  background: #2b2b2b;
  padding-top: 96px;
  padding-bottom: 66px;
  overflow: hidden;
}

#about h2 {
  font: 3rem "Roboto", sans-serif;
  color: #fff;
  margin-bottom: 1.2rem;
  text-align: left;
  margin-bottom: 1.2rem;
  font-weight: bold;
}

#about p {
  line-height: 30px;
  font-size: 2rem;
  font-weight: normal;
  color: #cec9c9;
  text-align: left;
}

.profile-pic {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 100%;
}
#about .main-col {
  padding-right: 5%;
}

