#contact {
    background: #191919;
    padding-top: 96px;
    padding-bottom: 102px;
    color: #636363;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 #contact .section-head { margin-bottom: 42px; }
 


#contact h3 {
   display: block;
   font: 1.8rem 'Roboto', sans-serif;
   text-transform: uppercase;
   letter-spacing: 3px;
   color: #EBEEEE;
   margin-bottom: 6px;
   text-align: center;
   width: auto;
}

#contact h5 {
   font-size: 1.6rem;;
}




